@page
@model IndexModel
@{
    ViewData["Title"] = "RPC";
}

<div class="text-center">
    <h1 class="display-4">RPC :: RED DE PROGRAMACIÓN COMPETITIVA</h1>
    <a href="/Account/Login" role="button" class="btn btn-success btn-sm">Let's get started</a>
    <p>Press the button to start</a>.</p>
</div>
