@page
@model IndexModel
@{
    ViewData["Title"] = "RPC";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="/Account/Login" role="button" class="btn btn-success btn-sm">Let's get started</a>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
